	#div1{
		border-style: dashed;
		border-width: 6px 6px 6px 6px;
		border-color: #6C4E1D;
		margin: 15%;
		padding: 12px;
	}

	#product{
		font-family: 'ABeeZee', sans-serif;
		font-size: 15pt;
		text-align: left;
		margin-left: 20px;
		margin-right: 20px;
	}

	#price{
		margin-top: 25px;
		margin-bottom: 25px;
		font-family: 'Chakra Petch', sans-serif;
		font-size: 35pt;
		text-align: center;
	}

	body{
		background-color: #B19A75;
	}

	img{
		height: 50%;
		width: 50;
		margin-left: 200px;
		margin-right: 100px;
		border: 1px solid #ddd;
		border-radius: 4px;
		padding: 5px;
	}

	h4{
		font-family: 'Fredoka One', cursive;
		font-size: 40pt;
		text-align: center;
		margin-top: 25px;
		margin-bottom: 25px;
	}

	button{
		border: none;
		border-radius: 6px;
		outline: 0;
		display: inline-block;
		padding: 12px;
		color: white;
		background-color: #8E764E;
		text-align: center;
		cursor: pointer;
		width: 100%;
		font-family: 'ABeeZee', sans-serif;
		font-size: 18px;
	}